<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head><title>cynosure</title>
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'Tweet/css/mohan.css' %}" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<style>
body {
  margin: 0;
  background: #333;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  /*background-image:url({% static 'users/images/download.jpeg' %});*/
  background-blend-mode:multiply;
  background-size:cover;
}
</style>



</head>










<body>
    <div class="navbar">
     <div class="navbar__link-brand">STACKOFF</div>

           
    <div class="navbar__link-brand"><a href="{% url 'home' %}">Home</a></div>

        </div>













<div class="content">
    <div class="col-md-5">
      {% if messages %}
      {% for message in messages %}
          <div class="alert alert-info">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
      {% block content %}



      {% endblock %}
    </div>
    
    </div>